body{
    margin: 0;
    background-color: #0b090a;
    background-image: url();
    background-repeat: no-repeat;
    background-position-x: 750px;
    background-position-y: 160px;
    background-size: 500px;
}
@media only screen and (max-width: 1200px){
    body{
        background-position-x: 1000px;
    }
}
@media only screen and (max-width: 1150px){
    body{
        background-position-x: 1950px;
    }
}
@media only screen and (max-width: 1200px){
    body{
        background-image: none;
    }
}

.containerApresentation{
    padding: 100px 50px 50px 100px;
    width: 100%;
}