body{
    margin: 0;
    background-color: #0b090a;
    background-image: url();
    background-repeat: no-repeat;
    background-position-x: 750px;
    background-position-y: 160px;
    background-size: 500px;
}
@media only screen and (max-width: 1200px){
    body{
        background-position-x: 1000px;
    }
}
@media only screen and (max-width: 1150px){
    body{
        background-position-x: 1950px;
    }
}
@media only screen and (max-width: 1200px){
    body{
        background-image: none;
    }
}

.containerApresentation{
    padding: 49px 650px 350px 100px;
    width: 100%;
    background-image: url('/Styles/Icons/CheckApp-TelaLogin.svg');
    background-repeat: no-repeat;
    background-position-x: 700px;
    background-position-y: 50px;
    background-size: 300px;
    display: table-caption;
}

.containerApresentation p{
    color: white;
    font-size: 20px;
    font-weight: 500;
    font-family: 'Ubuntu', sans-serif;
}

.section-intro{
    background-color: yellow;
    display: flex;
    padding-inline-end: 10px;
}