<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <title>CONTATO</title>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"><!--MEDIA QUERIES-->
    <link rel="stylesheet" href="/Styles/CSS/contato.css">
    <link rel="stylesheet" href="/Styles/CSS/header.css"><!--LINK ESTILOS-->
    <link rel="stylesheet" href="/Styles/CSS/buttons.css"><!--LINK ESTILOS-->
    <link rel="stylesheet" href=""><!--LINK SCRIPTs-->
    <link href="https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;700&display=swap" rel="stylesheet"><!--FONTE DOS TEXTOS-->
</head>

<body>
    
    <header id="header" class="hidden-header"><!--CABEÇALHO-->
        <div class="header-container">
            <div class="header-container-logo">
                <img class="img-fluid" src="/Styles/Logos/logo_original.png" alt="Logo Marca">
                <div class="brangingLogo">
                    <img src="/Styles/Logos/logoCheckapp-ICO.svg" alt="Logo Marca">
                </div>
            </div>
            <div class="header-container-buttons">
                <div class="menu-login">
                    <div class="header-container-buttons-box">
                        <div class="header-user">
                            <div class="btnLogin" onclick="redirectLogin()">
                                <img class="iconeMenu" src="/Styles/Icons/user.svg" alt="Logo Marca">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="backdrop-menu-site">
                    <div class="header-container-buttons-box">
                        <div class="header-menu">
                            <div class="btn-menu" onclick="abrirMenu()">
                                <img class="iconeMenu" src="/Styles/Icons/menu.svg" alt="Logo Marca">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <nav><!--SLIDE-->
        <div class="containerApresentation">
            <div>
                <h1>Contatos</h1>
            </div>
            <div class="containerContatos">

                <div class="contact-fones">
                    <div>
                        <div>
                            <p class="title-contacts">TELEFONES</p>
                        </div>
                        <ul>
                            <p>
                                + 55 (11) 3031-2361
                            </p>
                            <p>
                                + 55 (11) 3031-0162
                            </p>
                            <p>
                                + 55 (11) 95580-8777
                            </p>
                        </ul>
                    </div>
                </div>

                <div class="contact-emails">
                    <div>
                        <div>
                            <p class="title-email">E-MAIL</p>
                        </div>
                        <ul>
                            <p>
                                suporte@checkapp.net.br 
                            </p>
                            <p>
                                vendas@checkapp.net.br
                            </p>
                            <p>
                                financeiro@checkapp.net.br
                            </p>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="containerRedesSociais">
                
                <i class="ico-Facebook" onclick="redirectFacebook()"></i>
                <i class="ico-Instagram" onclick="redirectInstagram()"></i>
                <i class="ico-YouTube" onclick="redirectYoutube()"></i>

            </div>
            
            <br>
            <br>
            <br>
        </div>
    </nav>

    <!--MENU-->

    <div id="Container-menu" class="">
        <div class="conteudo-Menu">
            <div id='btnFechar-Menu' onclick="fecharMenu()"></div>
            <div class="Container-menu-itens">
                <div class="home itens-menu" onclick="redirectHome ()">Home</div>
                <div class="sobre itens-menu" onclick="redirectSobre ()">Sobre nós</div>
                <div class="sobre itens-menu" onclick="redirectRegistro ()">Faça parte</div>
                <div class="sobre itens-menu" onclick="redirectContato ()">Contato</div>
            </div>
            <div class="container-menu-redeSocial">
                
            </div>
        </div>
    </div>

    <script type="text/javascript">// redirecionamento de páginas
        function redirectHome (){
        window.location.href = "../Views/home.html";
        }
        function redirectContato (){
        window.location.href = "../Views/contato.html";
        }
        function redirectSobre (){
            window.location.href = "../Views/sobre.html";
        }
        function redirectLogin (){
            window.location.href = "../Views/login.html";
        }
        function redirectRegistro (){
            window.location.href = "../Views/login.html";
        }
        function redirectFacebook (){
            window.location.href = "https://www.facebook.com/checkapp.net.br";
        }
        function redirectInstagram (){
            window.location.href = "https://www.instagram.com/autoai.com.br/";
        }
        function redirectYoutube (){
            window.location.href = "https://www.youtube.com/channel/UCsGwccnjN8Ptsv7y7JvZg2w";
        }

        function abrirMenu(){
        document.getElementById('Container-menu').style.display = 'flex'; 
        }

        function fecharMenu(){
            document.getElementById('Container-menu').style.display = 'none'; 
        }
    </script>
    </script>

</body>
</html>