<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <title>CONTATO</title>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"><!--MEDIA QUERIES-->
    <link rel="stylesheet" href="/Styles/CSS/contato.css">
    <link rel="stylesheet" href="/Styles/CSS/header.css"><!--LINK ESTILOS-->
    <link rel="stylesheet" href="/Styles/CSS/buttons.css"><!--LINK ESTILOS-->
    <link rel="stylesheet" href=""><!--LINK SCRIPTs-->
    <link href="https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;700&display=swap" rel="stylesheet"><!--FONTE DOS TEXTOS-->
</head>

<body>
    
    <header><!--CABEÇALHO-->
        <div class="objectsNavegations">
            <div class="brangingLogo">
                <img src="/Styles/Logos/logoCheckapp-ICO.svg" alt="Logo Marca" onclick="redirectHome()">
            </div>
            <div class="informationsBussines">
                <div class="btnSobre">
                    <button class="btn-informationsBussines" onclick="redirectSobre()">
                        SOBRE
                    </button>
                </div>
                <div class=" btnContact">
                    <button class="btn-informationsBussines">
                        CONTATO
                    </button>
                </div>
            </div>
        </div>
        <div class="objectsActions">
            <div class="btnLogin">
                <button class="btn-objectsActions" onclick="redirectLogin()">
                    <div class="btnLogin">
                        <div class="iconeLogin"></div>
                        <p>Login</p>
                    </div>
                </button>
            </div>
            <div class="btnRegister">
                <button class="btn-objectsActions" id="btnPadrao" onclick="redirectRegistro()">
                    ABRA SUA CONTA
                </button>
            </div>
        </div>
    </header>

    <nav><!--SLIDE-->
        <div class="containerApresentation">
            <div>
                <h1>Contatos</h1>
            </div>
            <div class="containerContatos">

                <div class="contact-fones">
                    <div>
                        <div>
                            <p class="title-contacts">TELEFONES</p>
                        </div>
                        <ul>
                            <p>
                                + 55 (11) 3031-2361
                            </p>
                            <p>
                                + 55 (11) 3031-0162
                            </p>
                            <p>
                                + 55 (11) 95580-8777
                            </p>
                        </ul>
                    </div>
                </div>

                <div class="contact-emails">
                    <div>
                        <div>
                            <p class="title-email">E-MAIL</p>
                        </div>
                        <ul>
                            <p>
                                suporte@checkapp.net.br 
                            </p>
                            <p>
                                vendas@checkapp.net.br
                            </p>
                            <p>
                                financeiro@checkapp.net.br
                            </p>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="containerRedesSociais">
                
                <i class="ico-Facebook" onclick="redirectFacebook()"></i>
                <i class="ico-Instagram" onclick="redirectInstagram()"></i>
                <i class="ico-YouTube" onclick="redirectYoutube()"></i>

            </div>
            
            <br>
            <br>
            <br>
        </div>
    </nav>

    <script type="text/javascript">// redirecionamento de páginas
        function redirectHome (){
        window.location.href = "../Views/home.html";
        }
        function redirectContato (){
        window.location.href = "../Views/contato.html";
        }
        function redirectSobre (){
            window.location.href = "../Views/sobre.html";
        }
        function redirectLogin (){
            window.location.href = "../Views/login.html";
        }
        function redirectRegistro (){
            window.location.href = "../Views/login.html";
        }
        function redirectFacebook (){
            window.location.href = "https://www.facebook.com/checkapp.net.br";
        }
        function redirectInstagram (){
            window.location.href = "https://www.instagram.com/autoai.com.br/";
        }
        function redirectYoutube (){
            window.location.href = "https://www.youtube.com/channel/UCsGwccnjN8Ptsv7y7JvZg2w";
        }
    </script>

</body>
</html>