<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/Styles/CSS/painel-usuario.css">
    <title>PAINEL USUÁRIO</title>
</head>
<body>
    <nav class="flexNav">
        <header class="flexNavHeader">
            <div class="flexHeader">
                <nav class="menuHeader">
                    <div class="logo">
                        <img src="/Styles/Logos/logoCheckapp-ICO.svg" alt="Logo marca" id="logoMarca">
                    </div>
                    <nav class="links">
                        <label class="chamados-ICONE" for="rd_chamados"></label>
                        <label class="usuarios-ICONE" for="rd_usuarios"></label>
                    </nav>
                </nav>
                <div class="sair" onclick="validarSaida()"></div>
            </div>
        </header>
        <div class="scroll">
            <input type="radio" name="grupo" id="rd_chamados" checked="true">
            <input type="radio" name="grupo" id="rd_usuarios">
            <section class="sections">
                <!--PAGE CHAMADOS-->
                <section class="bloco" id="chamados">
                    <div class="sectionClientes">
                        <div id="headerChamados">
                            <p class="titleSection">CHAMADOS</p>
                            <div class="interactionsChamados">
                                <div class="iconesInteractions">
                                    <i class=adicionarNovoCliente></i>
                                    <i class="filtroStatusCliente-ICONE"></i>
                                </div>
                                <input type="text" class="pesquisaChamados" placeholder="Pesquisar">
                            </div>
                        </div>
                        <aside>
                            <span class="spanCard">
                                <div class="spanNovoChamados">
                                    <div class="cardChamados">
                                        <div>
                                            <p class="title">Nome Fantasia do Cliente</p>
                                        </div>
                                        <div class="statusChamados" id="status-Finalizado">
                                            <p class="textStatusChamados">FINALIZADO</p>
                                            <div class="status-Finalizado"></div>
                                        </div>
                                        <div class="statusChamados" id="status-EmAndamento">
                                            <p class="textStatusChamados">ANDAMENTO</p>
                                            <div class="status-EmAndamento"></div>
                                        </div>
                                        <div class="statusChamados" id="status-Pendente">
                                            <p class="textStatusChamados">PENDENTE</p>
                                            <div class="status-Pendente"></div>
                                        </div> 
                                    </div>
                                    <div class="formularioChamados">
                                        <form class="itensFormulario">
        
                                            <div class="flexCardForm">
        
                                                <div class="flexItemForm">
                                                    <div class="formGroup">
                                                        <label for="perfil">Nome</label>
                                                        <input type="text">
                                                    </div>
                                                    <div class="formGroup">
                                                        <label for="perfil">Telefone</label>
                                                        <input type="text">
                                                    </div>
                                                </div>
                                                <div class="flexItemForm">
                                                    <div class="formGroup">
                                                        <label for="perfil">Data de registro</label>
                                                        <input type="text">
        
                                                    </div>
                                                    <div class="formGroup">
                                                        <label for="perfil">Assunto</label>
                                                        <input type="text">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="flexCardForm">
                                                <div class="flexItemForm">
                                                    <div class="formGroup">
                                                        <label for="perfil">Mensagem</label>
                                                        <input id="text-mensage" type="text">
                                                    </div>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                    <br>
                                    <br>
                                    <i class="editSpan"></i>
                                    <br>
                                    <br>
                                </div>
                            </span>
                        </aside>
                    </div>
                </section>
                <!--PAGE USUÁRIOS-->
                <section class="bloco" id="usuarios">
                    <div class="sectionClientes">
                        <div id="headerChamados">
                            <p class="titleSection">USUÁRIOS</p>
                            <div class="interactionsUsuarios">
                                <div class="iconesInteractions">
                                    <i class=adicionarNovoUsuarios></i>
                                    <i class="filtroStatusUsuarios-ICONE"></i>
                                </div>
                                <input type="text" class="pesquisaUsuarios" placeholder="Pesquisar">
                            </div>
                        </div>
                        <aside>
                            <span class="spanCard">
                                <div class="spanNovoUsuarios">
                                    <div class="cardUsuarios">
                                        <div>
                                            <p class="title">Nome do Usuário</p>
                                        </div>
                                        <div class="statusUsuarios" id="status-Inativo">
                                            <p class="textStatusUsuarios">INATIVO</p>
                                            <div class="status-Finalizado"></div>
                                        </div>
                                        <div class="statusUsuarios" id="status-Ativo">
                                            <p class="textStatusUsuarios">ATIVO</p>
                                            <div class="status-EmAndamento"></div>
                                        </div>
                                        <div class="statusUsuarios" id="status-Novo">
                                            <p class="textStatusUsuarios">NOVO</p>
                                            <div class="status-Pendente"></div>
                                        </div>
                                    </div>
                                    <div class="formularioChamados">
                                        <form class="itensFormulario">
        
                                            <div class="flexCardForm">
        
                                                <div class="flexItemForm">
                                                    <div class="formGroup">
                                                        <label for="perfil">Perfil</label>
                                                        <input type="text">
                                                    </div>
                                                    <div class="formGroup">
                                                        <label for="perfil">CPF/CNPJ</label>
                                                        <input type="text">
                                                    </div>
                                                </div>
                                                <div class="flexItemForm">
                                                    <div class="formGroup">
                                                        <label for="perfil">E-mail</label>
                                                        <input type="text">
        
                                                    </div>
                                                    <div class="formGroup">
                                                        <label for="perfil">Senha</label>
                                                        <input type="text">
                                                    </div>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                    <br>
                                    <br>
                                    <i class="editSpan"></i>
                                    <br>
                                    <br>
                                </div>
                            </span>
                        </aside>
                    </div>
                </section>
            </section>
        </div>
    </nav>
    <span id="containerSair">
        <div class="conteudo">
            <i class="iconeQuestion"></i>
            <p class="textPopUP"> Tem certeza que deseja sair?</p>
            <div class="btnRedirect">
                <button class="btnContinuarPopUP" onclick="fecharPopUP()">CONTINUAR</button>
                <button class="btnSairPopUP" onclick="redirectLogin()">SAIR</button>
            </div>
        </div>
    </span>
    <script type="text/javascript"> // redirecionamento de páginas
        function validarSaida(){
            document.getElementById('containerSair').style.display = 'flex'; // adiciona display flex no elemento ID Container (que por padão é none) para mostrar o vídeo.
        }
        function fecharPopUP(){
            document.getElementById('containerSair').style.display = 'none'; // adiciona display flex no elemento ID Container (que por padão é none) para mostrar o vídeo.
        }
        function redirectLogin (){
        window.location.href = "../Views/login.html";
        }
    </script>
</body>
</html>