<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <title>SOBRE</title>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"><!--MEDIA QUERIES-->
    <link rel="stylesheet" href="/Styles/CSS/sobre.css">
    <link rel="stylesheet" href="/Styles/CSS/header.css"><!--LINK ESTILOS-->
    <link rel="stylesheet" href="/Styles/CSS/buttons.css"><!--LINK ESTILOS-->
    
    <link href="https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;700&display=swap" rel="stylesheet"><!--FONTE DOS TEXTOS-->
</head>

<body>
    <header id="header" class="hidden-header"><!--CABEÇALHO-->
        <div class="header-container">
            <div class="header-container-logo">
                <img class="img-fluid" src="/Styles/Logos/logo_original.png" alt="Logo Marca">
                <div class="brangingLogo">
                    <img src="/Styles/Logos/logoCheckapp-ICO.svg" alt="Logo Marca">
                </div>
            </div>
            <div class="header-container-buttons">
                <div class="menu-login">
                    <div class="header-container-buttons-box">
                        <div class="header-user">
                            <div class="btnLogin" onclick="redirectLogin()">
                                <img class="iconeMenu" src="/Styles/Icons/user.svg" alt="Logo Marca">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="backdrop-menu-site">
                    <div class="header-container-buttons-box">
                        <div class="header-menu">
                            <div class="btn-menu" onclick="abrirMenu()">
                                <img class="iconeMenu" src="/Styles/Icons/menu.svg" alt="Logo Marca">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <!--SLIDE 1-->
    
    <nav id="Container-nav">

        <div class="containerApresentation">
            <div class="containerApresentation-introdution">
                <h1 class="title">Somos a solução ideal para sua oficina
                </h1>
                <p class="sub-title">Inteligência artificial multifuncional e multiplataforma projetada para recomendar produtos automotivos, padronizar o atendimento e facilitar a rotina dos colaboradores.</p>
            </div>

        </div>
    </nav>

    <!--SLIDE 2-->
    <section class="section-intro">
        <div class="background-Intro">
            <div class="desktop-image"></div>
        </div>
        <div class="text-introduction">
            <h1>Prático</h1>
            <p>
                O modo de utilização para a equipe de pista indica o lubrificante exato para qualquer tipo de veículo através da placa.
            </p>
            <p> 
                Ajuda a profissionalizar os processos, gerar maior oferta de produtos e conquistar a confiança do consumidor.
            </p>
        </div>
    </section>
    <section class="section-ferramentas">
        <div class="container-ferramentas">
            <div class="card-Item">
                <div class="ico-recomendador"></div>
                <div class="icone iconeRecomendador"></div>
                <p id="title-Card">RECOMENDADOR</p>
                <p>
                    Acesso fácil e prático a aplicações para carros, motos e caminhões
                </p>
            </div>
            <div class="card-Item">
                <div class="icone iconeChecklist"></div>
                <p id="title-Card">CHECKLIST</p>
                <p>
                    Padronização do seu atendimento com checklist personalizável
                </p>
            </div>
            <div class="card-Item">
                <div class="icone iconeOrcamento"></div>
                <p id="title-Card">ORÇAMENTOS</p>
                <p>
                    Personalizado para loja, pode ser impresso ou enviado para o cliente
                </p>
            </div>
            <div class="card-Item">
                <div class="icone iconeWhatsapp"></div>
                <p id="title-Card">WHATSAPP</p>
                <p>
                    Revisão programada! O sistema avisa o cliente da revisão do veículo
                </p>
            </div>
        </div>
    </section>

    <section class="section-veicles">
        <div class="text-sectionVeicles">
            <div class="text-veicles">
                <h1>Atualizado</h1>
                <p>Diariamente incluimos e atualizamos veículos nacionais e importados, garantindo a exatidão das especificações do manual de manutenção e catálogos automotivos.
                </p>
            </div>
        </div>
        <div class="veiclesCard">
            <div class="itens-one">
                <div class="card">
                    <div class="car"></div>
                </div>
                <div class="card">
                    <div class="truck"></div>
                </div>
            </div>
            <div class="itens-two">
                <div class="card">
                    <div class="motocycle"></div>
                </div>
                <div class="card">
                    <div class="truck-leve"></div>
                </div>
            </div>
        </div>

    </section>

    <section class="section-cardInfos">
        <div class="cardInfos">
            
            <div class="card-Item-Infos">
                <div class="icone icone-Atendimentos"></div>
                <p id="title-Card">ATENDIMENTO</p>
                <p>
                    Defina um padrão de atendimento com ilimitadas categorias, itens de revisão e aumente a oferta de produtos
                </p>
            </div>
            <div id="cardPromocao" class="card-Item-Infos">
                <div class="icone icone-Descontos"></div>
                <p id="titlePromocao title-Card">PROMOÇÕES</p>
                <p>
                    Crie uma nova promoção com um código aleatório que representa uma porcentagem de desconto e envie aos clientes
                </p>
            </div>
            <div class="card-Item-Infos">
                <div class="icone icone-Servicos"></div>
                <p id="title-Card">SERVIÇOS</p>
                <p>
                    Acompanhe o status de serviços que depende de mais de um Especialista ou outra ocorrência para conclusão
                </p>
            </div>
        </div>
    </section>

    <!--MENU-->

    <div id="Container-menu" class="">
        <div class="conteudo-Menu">
            <div id='btnFechar-Menu' onclick="fecharMenu()"></div>
            <div class="Container-menu-itens">
                <div class="home itens-menu" onclick="redirectHome ()">Home</div>
                <div class="sobre itens-menu" onclick="redirectSobre ()">Sobre nós</div>
                <div class="sobre itens-menu" onclick="redirectRegistro ()">Faça parte</div>
                <div class="sobre itens-menu" onclick="redirectContato ()">Contato</div>
            </div>
            <div class="container-menu-redeSocial">
                
            </div>
        </div>
    </div>
    
    <script type="text/javascript"> // redirecionamento de páginas
        function redirectHome (){
        window.location.href = "../Views/home.html";
        }
        function redirectContato (){
        window.location.href = "../Views/contato.html";
        }
        function redirectSobre (){
            window.location.href = "../Views/sobre.html";
        }
        function redirectLogin (){
            window.location.href = "../Views/login.html";
        }
        function redirectRegistro (){
            window.location.href = "../Views/login.html";
        }

        function abrirMenu(){
        document.getElementById('Container-menu').style.display = 'flex'; 
        }

        function fecharMenu(){
            document.getElementById('Container-menu').style.display = 'none'; 
        }
    </script>
    </script>

</body>
</html>